# useless files
.project
.cache
.settings
*.DS_Store
*~
*.svn
._*
*Thumbs.db
\#Untitled-*#
*.marks

# production only files
locale/*/LC_MESSAGES/*.mo

# generated documention files
doc/*
lib/*/doc/*
lib/*/doc_warn.log

# config files
etc/*
includes/auto_prepend_local.php

# debug output storage
data/log/*
data/cache/*
data/upload/*
public/debug/phpunitreport/*

# static packs
public/css/pack/*.css
public/js/pack/*.js

# sql current upgrade
sql/schema/upgrade/current
