# useless files
*.DS_Store
*~
*.svn
._*
*Thumbs.db
\#Untitled-*#
*.marks

# production only files
doc/*

# config files
etc/*.conf
etc/*.ini
includes/auto_prepend_local.php

# debug output storage
logs/*

# static packs
public/css/pack/*.css
public/js/pack/*.js
