# useless files
*.DS_Store
*~
*.svn
._*
*Thumbs.db
\#Untitled-*#
*.marks

# production only files
doc/*
app/locales/*/LC_MESSAGES/*

# config files
etc/*.conf
etc/*.ini
includes/auto_prepend_local.php

# debug output storage
data/log/*
data/cache/*
data/upload/*

# static packs
public/css/pack/*.css
public/js/pack/*.js
