/* @group Main */

html {
     background:#FFFFFF url(/images/layouts/example/header.jpg) no-repeat scroll center top;
}

body {

    color:#25221D;
    font-family:Verdana,Tahoma,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.7;

    background:transparent url(/images/layouts/example/footer-bg.png) repeat-x scroll center bottom;

    /*disable font resize*/
    -webkit-text-size-adjust: none;
}


h1, h2, h3, h4, h5, h6 {
    color:#2B2720;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-weight:normal;
    margin: 0;
}

a:link, a:visited {
    color: #0479A7;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

a.selected:link, a.selected:visited {
    color: #222;
}

em {
    font-style: normal;
    color: #686c70;
}

pre {
    background: #EEE;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    padding: 5px 7px;
    overflow: auto;
    font-size: 12px;
    margin: 5px 5px 10px;
}

iframe {
    border: 1px solid #eee;
    padding: 5px 7px;
    width: 575px;
}

h1 a:link, h1 a:visited {
    color: #2B2720;
    text-decoration: none;
}

h2 a:link, h2 a:visited {
    font-style:normal;
    font-weight:bold;
}

p {
    margin:0.5em 0 0.5em;
}


.container
{
    width: 1015px;
}

/* @group Layout */

#loading
{
    padding: 0 0 0 5px;
}

#header
{
    margin: 75px 0 0 0;
}

#main h1 {
    border-bottom:3px solid #E2E1DE;
    margin-bottom:0.5em;
    padding:0 0 5px;
}

#main h2 {
    line-height:1;
    padding:0 0 5px;
}

#main h3 {
    font-style:normal;
    font-weight:bold;
    padding:0 5px 5px;
}

#footer {
    padding: 5px;
    margin: 25px 0 0 0;
    height:70px;
}

#footer #license
{
    float: right;
}

#footer #powerby
{
    float: left;
}

#footer #powerby a
{
    padding: 0 5px;
}

/* @end */

/* @group Menu */

#menu a, #main-menu a {
    display: block;
}

#main-menu div {
    text-align: right;
}

#main-menu h4 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding-bottom: 2px;
}

#menu h4 {
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
}

#menu h4.menu-item  {
    border-bottom:1px solid #DDDDDD;
    padding:3px 0;
}

/* @end */

/* @group Blueprint */

.r-border {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #ddd;
}

.l-border {
  padding-left: 25px;
  margin-left: 14px;
  border-left: 1px solid #ddd;
}

.b-border {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.t-border {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

/* @end */


/**
* Element: design/color for formLayout and form Elements
* @begin
*/

/* general */
form.formLayout div img {
    border: 1px solid #989898;
    border-color: #989898 #606460 #606460 #989898;
}

form.formLayout fieldset {
    border-color: #989898;
}

/* input border */
form.formLayout div fieldset,
form.formLayout input.formText,
form.formLayout input.formPassword,
form.formLayout select,
form.formLayout textarea,
form.formLayout div.formFancySelectLabel
{
    background-color: #ffffff;
    border: solid 1px #989898;
    border-color: #989898 #606460 #606460 #989898;
}

form.formLayout input.formText:hover,
form.formLayout input.formPassword:hover,
form.formLayout textarea:hover
{
    background-color:#F5F5F5;
    border:1px solid #666;
}

form.formLayout input.formText:focus,
form.formLayout input.formPassword:focus,
form.formLayout textarea:focus
{
    background-color:#FFF;
    border:1px solid #555;
}

/* formFancySelect */
form.formLayout div.formFancySelectLabel
{
    background-color: #ffffff;
    border: solid 1px #989898;
    border-color: #989898 #606460 #606460 #989898;
}

form.formLayout div.formFancySelect div.formFancySelectOptions div
{
    border-color: #ccc;
    border-top:none;
}

/* buttons */
form.formLayout input.formReset,
form.formLayout input.formSubmit,
form.formLayout input.formButton {
    background-color: #cccccc;
    color: #000000;
}

form.formLayout input.formReset,
form.formLayout input.formSubmit,
form.formLayout input.formButton
{
    height: 21px;
    cursor:pointer;
    border:outset 1px #ccc;
    background:#999;
    color:#666;
    font-weight:bold;
    padding: 1px 3px;
    background:url(/images/lib/basezf/elements/formLayout/formButton2.gif) repeat-x left top;
}

form.formLayout input.formReset
{
    background:url(/images/lib/basezf/elements/formLayout/formButton.gif) repeat-x left top;
}

form.formLayout div.formFileFancy input.formButton
{
    background:url(/images/lib/basezf/elements/formLayout/formButton.gif) repeat-x left top;
}

/* notes */
form.formLayout fieldset div.notes {
    border: 1px solid #666666;
    background-color: #ffffe1;
    color: #666666;
}

form.formLayout fieldset div.notes h4 {
}
/*@end*/

